/* Basic navbar styling */
.navbar {
  background: linear-gradient(to right, #4c51bf, #3b82f6);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar at the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it's on top of other content */
  box-shadow: 50%;
}

/* Container styling to center content */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo styling */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

/* Menu button styling */
.menu-button {
  background: none;
  border: none;
  color: white;
  z-index: 2; /* Ensure the button stays on top */
}

/* Menu icon styling */
.menu-icon {
  font-size: 24px;
}

/* Navbar links default styling for mobile */
.navbar-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; /* Full viewport height */
  width: 250px;
  background: linear-gradient(to bottom, #4c51bf, #3b82f6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1; /* Ensure the sidebar stays below the button */
  overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
}

/* Navbar links open state */
.navbar-links.open {
  transform: translateX(0);
  position: fixed;
  margin-top: 1.5%;
  margin-right: 5%;
}

/* Navbar link items */
.navbar-links li {
  list-style: none;
  margin: 16px 0;
}

/* Navbar link styles */
.link {
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.link:hover {
  color: gray;
}

/* Ensure menu is visible in larger screens */
@media (min-width: 768px) {
  .navbar-links {
    position: static;
    transform: none;
    flex-direction: row;
    background: none;
    width: fit-content;
    height: fit-content;
    overflow: visible; /* Reset overflow for larger screens */
  }

  .navbar-links li {
    margin: 0 8px;
  }
}
