.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: row;
}

.rowReverse {
    flex-direction: row-reverse;
}

.contentContainer {
    flex: 3;
    padding: 0 20px;
}

.heading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
}

.subheading {
    font-style: italic;
    font-size: smaller;
}

.content {
    font-size: 1em;
    border-top: 1px dashed black;
    padding-top: 10px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .contentContainer {
        padding: 0;
        text-align: center;
    }
    .imageContainer {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

